<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jawnix.external-backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__JAWNIX_BACKUP_SCRIPT__</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>1</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__JAWNIX_LOG_DIR__/external-backup.log</string>
  <key>StandardErrorPath</key>
  <string>__JAWNIX_LOG_DIR__/external-backup-error.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
